:root {
  --color-bg: #E6E6FA;
  /* Lavender */
  --color-text: #FFFFFF;
  --font-cursive: 'Corinthia', cursive;
  --font-body: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  background-image: url('/tulip_bg.svg');
  background-size: 200px;
  /* Adjust size to make it "gapped" and polka dot-like */
  background-repeat: repeat;
  background-attachment: fixed;
  color: var(--color-text);
  font-family: var(--font-body);
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cursive);
  font-weight: 700;
}

#app {
  width: 100%;
  min-height: 100vh;
}